/* FONTS*/
    @import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


    /* FONTS*/
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
        font-family: "Roboto", sans-serif;
        align-items: center;
        height: 300vh;
        background-image: linear-gradient(to right bottom, #000000, #020000, #020202, #030303, #040404);

    }



    .navbar {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        
    }

    .navbar a{
        position: relative;
        font-weight: 1000;
        font-size: 1.1em;
        text-decoration: none;
        padding: 0.75vh 2.5vh;
        transition: .5s;
        color:#111
        
    }

    .navbar a:hover{
        color: rgb(208, 42, 86);
    }

    .navbar a span{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-bottom: 0.25vh solid rgb(208, 42, 86);
        border-radius: 1.875vh;
        transform: scale(0) translateY(50px);
        opacity: 0;
        transition: .5s;
    }

    .navbar a:hover span{
        transform: scale(1) translateY(0);
        opacity: 1;
    }


    .nav-links {
    display: flex;
    gap: 1rem;
    }

    .menu-toggle {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
    }

    .contenedor-centro{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative; /* evita que hijos absolute interfieran con otros */
        z-index: 1; /* asegura que esté sobre fondos o decoraciones */
        height: auto; 
        
    }

   .cartel {
    width: 100%; /* no ocupa todo el ancho */
    height: 100vh;     
    color: white; /* texto */
    padding: 1.875vh;
    border-radius: 1vh;
    position: relative; 
    /* Quita background-image directo de aquí */
}

.cartel::before {
    content: "";
    position: absolute;
    inset: 0; /* top:0; right:0; bottom:0; left:0; */
  background-image: url(images/fondo-2.png);
    background-size: cover;
    background-position: center;
    filter: opacity(0.5);
    z-index: -1;
    border-radius: 1vh; /* para que coincida con el div */
}

    .cartel hr{
        position: relative;
        width: 10%;
        margin-top: 3.75vh;
        border:0.35vh solid white;
        margin-left: 6.25vh;
    }
    .cartel .hr-dos{
        width: 15%;
        margin-top: 0vh;
        margin-bottom: 4.44vh;
        margin-left: 6.25vh;
    }

    .cartel .texto-prede {
        text-align: left;
        
    }
    .cartel .parrafo-uno{
        margin-left: 6.25vh;
        font-family: "Boldonse", system-ui;
        font-weight: 400;
        font-style: normal;   
        font-size: 6vw;
    }

    .cartel .parrafo-dos{
        margin-left: 6.25vh;
        font-family: "Gabarito", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 2.0vw;

        
    }
    .cartel .parrafo-dos span{
        color: rgb(231, 33, 33);
        font-weight: bold;
        filter: drop-shadow(0 4px 6px rgba(255, 0, 0, 0.393));

    }

    .cartel .parrafo-dos .titulos{
        font-weight: bold;
        font-style: italic;
        color: #5e5e5e;
        filter: drop-shadow(0 4px 6px rgb(0, 0, 0));

    }

    .cartel .box-redes{
        
        width: max-content;
        height: max-content;
        margin-left: 10vh;
        margin-top: 5vh;
        display: flex;          
        gap: 7vh;    
    }

    .cartel .box-redes .red{
        background-color: none;
        border-radius: 1vh;
        width: max-content;
        height: max-content;
        transition: transform 0.4s ease;
        transform: scale(1);
        
    }

    .cartel .box-redes a{
        all: unset;
    }

    .cartel .box-redes .red i {
        font-size: 10vh;
        transform-origin: center center;
        transform: scale(1);
        filter: drop-shadow(0 4px 6px rgba(38, 57, 77, 0.468));

    }


    .cartel .box-redes .red:hover  {
        transform: scale(1.2); /* aumenta 20% */
        cursor: pointer;
        filter: drop-shadow(0 6px 10px rgba(38, 57, 77, 0.502));

    }

    .cartel .box-imagen {
        position: absolute;
        top: 30%;
        left: 65%;
        transform: translate(-50%, -50%);
        width: 30vw; /* ajusta según tu imagen */
        height: auto; /* mantiene la proporción */
        z-index: 10; /* detrás del texto */
        animation: cofre-subir-bajar 1s ease-in-out infinite alternate; /* animación de subir y bajar */
    
    }
    .cartel .box-imagen.dos{
        filter: none;
        height: max-content;
        top: 0%;
        left: 75%;
        width: 25vh;
    }
    .cartel .box-imagen.dos img{
        filter: none;

    }
    .cartel .box-imagen a {
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .cartel .box-imagen img {
        width: 100%; /* ocupa todo el contenedor */
        height: auto; /* mantiene la proporción */
        filter: drop-shadow(0 6px 10px rgb(255, 0, 0));
        transition: transform 0.3s ease; /* suaviza la transición */


    }
    .cartel .box-imagen img:hover {
        transform: scale(1.05) translateY(30px) rotate(-10deg);
        filter: drop-shadow(0 12px 20px rgb(77, 38, 38));
        transition: transform 0.5s cubic-bezier(.68,-0.55,.27,1.55), filter 0.3s;
        animation: shake-confetti 1s infinite alternate-reverse;
        
    }

    @keyframes shake-confetti {
        0% { transform: scale(1.05) translateY(0) rotate(0deg);}
        20% { transform: scale(1.05) translateY(10px) rotate(-5deg);}
        40% { transform: scale(1.05) translateY(20px) rotate(5deg);}
        60% { transform: scale(1.05) translateY(25px) rotate(-10deg);}
        80% { transform: scale(1.05) translateY(30px) rotate(10deg);}
        100% { transform: scale(1.05) translateY(30px) rotate(-10deg);}
    }

    @keyframes cofre-subir-bajar {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-2.5vh);
        }
    }

    .sobre-mi {
        position: relative;
        background: rgb(255, 255, 255);
        width: 100%;
        height: max-content;
        padding: 4vh;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
    }
    .sobre-mi .sobre-mi-box {
        padding: 0.5rem;
        height: max-content;
        justify-items: center;
    }
    .sobre-mi .contenedor-texto {
        max-width: 1200px;
        margin: 0 auto;
        padding: 3rem;
        background-color: rgb(212, 212, 212);
        border-radius: 2vh;
        font-weight: 100vh;
         font-size: 1.25rem;
        line-height: 1.5;
    }
    .sobre-mi h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }

   
    .sobre-mi .icono {
        font-size: 20vh;
        color: rgb(0, 0, 0);
        text-align: center;
        width: max-content;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.5vh solid #222;      /* Circular border */
        border-radius: 50%;            /* Makes it circular */
        padding: 5vh;                  /* Space between icon and border */
        background: #fff;              /* Optional: white background */
        box-shadow: 0 2px 8px rgb(0, 0, 0); /* Optional: subtle shadow */
    }
  
    .sobre-mi .icono h2 {
        margin-top: -10vh;
        font-size: 2.5rem;
        margin-top: 1rem;
        font-weight: bold;
        color: black;
    }

    .sobre-mi .contenedor-detalles {
        height: max-content;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2vh;

    }

    .sobre-mi .contenedor-detalles .box-detalle {
        padding: 1rem;
        border-radius: 0.5rem;
         display: grid;
        grid-template-rows:  1fr auto; /* título arriba, íconos abajo */
      height: max-content;
      width: 100%;
      

    }


       .sobre-mi .contenedor-detalles .box-detalle {
        font-family: "Gabarito", sans-serif;
  
        align-items: center;

    }
    .box-detalle .box-skill.titulo {
    width: 100%;
    display: block; 
    
}
   
    .box-detalle .box-skill.titulo p { 
        font-weight: bold;
        font-size: 3vh;
        text-decoration: underline;
        text-align: center;
     
        
    }
    .box-detalle .skills-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(6vh, 1fr));        
        align-items: center;
        justify-items: center;
        gap: 3vh;
        width: 100%;
    }

    .box-detalle .box-skill{
        font-size: 4vh;
        width: 8vh;
        height: max-content;
        padding: 0.5rem;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .box-detalle .box-skill.box{
        border: 1px solid black;
        box-shadow: 
                rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
                rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset,
                rgba(0, 0, 0, 0.09) 0px 2px 1px,
                rgba(0, 0, 0, 0.09) 0px 4px 2px,
                rgba(0, 0, 0, 0.09) 0px 8px 4px,
                rgba(0, 0, 0, 0.09) 0px 16px 8px,
                rgba(0, 0, 0, 0.09) 0px 32px 16px;   
        cursor: pointer;
}

.box-detalle .box-skill.box:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
        background-color: #f0f0f0; /* Cambia el color de fondo al pasar el mouse */
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .caption {
        text-decoration: none;
        font-size: 1.5vh;

        text-align: center;
        color: #000000;
    }

    .contactos-list {
        display: grid;
        grid-template-columns: repeat(minmax(6vh, 1fr),auto-fit );
        text-align: center;
        gap: 2vh;
        
    }

    .contactos-list a {
        text-decoration: none;
        color: inherit; /* hereda el color del padre */
    }

    .contactos-list .box-contacto {
        padding: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        background-color: white;
        transition: background-color 0.2s, color 0.3s, text-shadow 0.3s;
        font-size: 3vh;

    }

    .contactos-list .box-contacto:hover {
        background-color: red;
        color: white;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.607);
    }

    /* Responsivo */
    @media (max-width: 768px) {
        .nav-links {
            text-align: center;
            flex-direction: column;
            position: absolute;
            top: 8.75vh;        /* 70px ≈ 8.75vh */
            right: 2.5vh;       /* 20px ≈ 2.5vh */
            background: rgba(1, 1, 1, 0.95);
            padding: 1rem;
            border-radius: 1.25vh;  /* 10px ≈ 1.25vh */
            position: absolute; /* o relative, según tu estructura */
            z-index: 10; /* número mayor que el z-index del cartel */
            /* otros estilos que tengas */

            /* Oculto por defecto */
            opacity: 0;
            transform: translateY(-10px);
            pointer-events: none; /* Evita clics cuando está oculto */
            transition: opacity 0.3s ease, transform 0.3s ease;
        }

        /* Cuando está activo */
        .nav-links.show {
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
        }

        .menu-toggle {
            display: block;
        }

        .cartel {
            font-size: 7vw; /* más pequeño en pantallas chicas */
            padding: 1.25vh;  /* 10px ≈ 1.25vh */
        }

        .contenedor-centro {
            margin-top: 6.25vh; /* 50px ≈ 6.25vh */
        }
        
        .cartel .parrafo-dos span{
        color: rgb(231, 33, 33);
        font-weight: bold;
        filter: drop-shadow(0 4px 6px rgba(255, 0, 0, 0.169));

    }
        .cartel .box-redes {
            margin-left: 0;
            margin-top: 3vh;
            gap: 3vh;
            flex-wrap: wrap; /* allows wrapping if needed */
        }

        .cartel .box-redes .red i {
            font-size: 5vh;
        }

        .contenedor-centro {
            flex-direction: column;
            align-items: center;
            margin-top: 6.25vh;
        }
        .cartel {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: max-content;
        }
        .cartel .parrafo-uno {
        margin-left: 0;
        font-family: "Boldonse", system-ui;
        font-weight: 400;
        font-style: normal;   
        font-size: 10vw;
    }

    .cartel .parrafo-dos {
        margin-left: 0;
        font-family: "Gabarito", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 3vw;
    }
    .cartel hr {
        position: relative;
        width: 10%;
        margin-top: 3.75vh;
        border:0.35vh solid white;
        margin-left: 0;
    }
    .cartel .hr-dos {
        width: 15%;
        margin-left: 0;
        margin-bottom: 1vh;
    }
        .cartel .box-redes,
        .cartel .box-imagen,
        .cartel .box-imagen.dos {
            margin-left: 0;
            margin-top: 2vh;
            align-self: center;
            position: static;
            width: 70vw;
            max-width: 220px;
        }
        .cartel .box-imagen.dos{
        filter: none;
        height: max-content;
        top: 0%;
        left: 75%;
        width: 10vh;
    }
    .cartel .box-imagen{
        filter: none;
        height: max-content;
        top: 0%;
        left: 75%;
        width: 18vh;
    }
 
    }

    /* Esto para mi CELULAR */
    @media (max-width: 390px) {
        .cartel {
            padding: 0.8vh;
            font-size: 8vw;
        }

        .contenedor-centro {
            margin-top: 3vh;
        }

        .cartel .parrafo-uno,
        .cartel .parrafo-dos {
            margin-left: 0;
            margin-left: 2vh;
            font-size: 4vw;
        }

        .cartel .box-redes {
            margin-left: 0;
            margin-top: 2vh;
            gap: 2vh;
            flex-wrap: wrap;
        }

        .cartel .box-redes .red i {
            font-size: 4vh;
        }

        .cartel hr{
            width: 15%;
            margin-left: 0;
            margin-top: 1vh;
            margin-bottom: 1vh;
            border-width: 0.25vh;
        }

        
        .cartel .hr-dos {
            width: 30%;
            margin-left: 0;
            margin-top: 1vh;
            margin-bottom: 2vh;
            border-width: 0.25vh;
        }

        .contenedor-centro {
            flex-direction: column;
            align-items: center;
            margin-top: 3vh;
            
        }
        .cartel {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .cartel .parrafo-uno {
        margin-left: 0;
        font-family: "Boldonse", system-ui;
        font-weight: 400;
        font-style: normal;   
        font-size: 6.5vh;
    }
        .cartel .parrafo-dos{
            margin-left: 0;
            text-align: center;
            font-size: 3vh;
        }
        .cartel .box-redes{
            width: 50vh;
        }
        .cartel .box-redes,
        .cartel .box-imagen,
        .cartel .box-imagen.dos {
            margin-left: 0;
            margin-top: 3vh;
            align-items: center;
            justify-content: center;
            align-self: center;
            position: static;
            width: 90vw;
            max-width: 50vh;
        }
        .cartel .box-redes .red i{
            font-size: 7vh;
        }
    .cartel .box-imagen.dos{
        filter: none;
        height: max-content;
        top: 0%;
        left: 75%;
        width: 10vh;
    }
    .cartel .box-imagen{
        filter: none;
        height: max-content;
        top: 0%;
        left: 75%;
        width: 18vh;
    }
        .sobre-mi {
            padding: 2vh;
            grid-template-columns: 1fr; /* una sola columna */
          min-height: 100vh;
            
        }
        .sobre-mi,
    .sobre-mi .sobre-mi-box,
    .sobre-mi .contenedor-texto,
    .sobre-mi h2 {
        text-align: center;
        justify-items: center;
        align-items: center;
    }

    .sobre-mi .icono {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
    }