
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #173947;
  background: linear-gradient(90deg, rgba(23, 57, 71, 1) 0%, rgba(21, 41, 59, 1) 49%, rgba(26, 53, 92, 1) 100%);
}

header {
  background: #111;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.logo span {
  color: #ff4b2b;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff4b2b;
}

/* Botón menú móvil */
.menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsivo */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: #111;
    flex-direction: column;
    width: 200px;
    display: none;
    padding: 1rem;
  }

  .nav-links.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}